.fn-CompaniesList {
  margin-bottom: $m-xxl;
  min-width: 900px;
  overflow-x: auto;

  &-title {
    font-weight: $fw-light;
    margin: 0 0 $m-s 0;
  }

  &-header {
    border-bottom: 1px solid $c-gray-light-2;
    display: flex;
    padding: $p-l 0;

    &ColumnName {
      color: $c-gray;
      font-weight: $fw-regular;
      flex-basis: 10%;
      flex-grow: 1;
      text-align: center;

      &:first-child,
      &:nth-child(2) {
        text-align: left;
      }
    }
  }
}
