// Font weights
$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;

// Font sizes
$fz-base: 16px; // 16px

$fz-xxl: $fz-base + 8; // 24px
$fz-xl: $fz-base + 4; // 20px
$fz-l: $fz-base + 2; // 18px
$fz-m: $fz-base; // 16px
$fz-s: $fz-base - 2; // 14px
$fz-xs: $fz-base - 4; // 12px
$fz-xxs: $fz-base - 6; // 10px
