.fn-RequirementsList {
  max-width: 600px;

  &-requirement {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $p-m;

    &Type {
      border: 1px solid $c-gray-light-2;
      border-radius: 4px;
      padding: $p-xs $p-s;
      margin-left: $m-l;
    }
  }
}
