.fn-RequirementsList {
  max-width: 800px;

  &-requirement {
    align-items: center;
    border-bottom: 1px solid $c-gray-light-2;
    display: flex;
    justify-content: space-between;
    padding: $p-l $p-s;

    &Type {
      border: 1px solid $c-gray-light-2;
      border-radius: 4px;
      background-color: white;
      padding: $p-xs $p-s;
      margin-left: $m-l;

      &.is-empty {
        border: 1px solid $c-accent;
      }
    }
  }
}
